.sidebar {
    background-color: #f8f9fa; /* Color de fondo del sidebar */
    height: 100vh; /* Altura completa de la pantalla */
    display: none; /* Inicialmente oculto */
  }

  .main-content {
    /* Puedes agregar estilos adicionales para el contenido principal */
  }

  /* Mostrar el sidebar cuando tiene la clase 'show' */
  .show {
    display: block;
  }